In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import keyring
import cx_Oracle
import os
import glob
import math
import warnings
warnings.filterwarnings("ignore")

# Dados de Entrada

In [2]:
#Dados de entrada
#Pasta TEC_LD para ano 2023
pasta = r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023'

#Chaves Primárias
chaves_paulista = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECLD\INDGER2.0_TECLD_Chaves.xlsx',sheet_name='Paulista')
chaves_piratininga = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECLD\INDGER2.0_TECLD_Chaves.xlsx',sheet_name='Piratininga')
chaves_santacruz = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECLD\INDGER2.0_TECLD_Chaves.xlsx',sheet_name='Santa Cruz')
chaves_rge = pd.read_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Chaves Primarias\TECLD\INDGER2.0_TECLD_Chaves.xlsx',sheet_name='RGE')

#Selecionar pasta do mes de referência
pasta_mes = input('Insira o mês (dois dígitos):')
ano = input('Insira o ano (4 dígitos):')
if pasta_mes == '01':
    mes = '01'
    pasta_mes = '01 - Janeiro\*'
    pasta_mes_paulista = '01 - Janeiro'
    pasta_mes_piratininga = '01 - Janeiro'
    pasta_mes_santacruz = '01 - Janeiro'
    pasta_mes_rge = '01 - Janeiro'
    print(pasta_mes)
elif pasta_mes == '02':
    mes = '02'
    pasta_mes = '02 - Fevereiro\*'
    pasta_mes_paulista = '02 - Fevereiro'
    pasta_mes_piratininga = '02 - Fevereiro'
    pasta_mes_santacruz = '02 - Fevereiro'
    pasta_mes_rge = '02 - Fevereiro'
    print(pasta_mes)
elif pasta_mes == '03':
    mes = '03'
    pasta_mes = '03 - Março\*'
    pasta_mes_paulista = '03 - Março'
    pasta_mes_piratininga = '03 - Março'
    pasta_mes_santacruz = '03 - Março'
    pasta_mes_rge = '03 - Março'
    print(pasta_mes)
elif pasta_mes == '04':
    mes = '04'
    pasta_mes = '04 - Abril\*'
    pasta_mes_paulista = '04 - Abril'
    pasta_mes_piratininga = '04 - Abril'
    pasta_mes_santacruz = '04 - Abril'
    pasta_mes_rge = '04 - Abril'
    print(pasta_mes)
elif pasta_mes == '05':
    mes = '05'
    pasta_mes = '05 - Maio\*'
    pasta_mes_paulista = '05 - Maio'
    pasta_mes_piratininga = '05 - Maio'
    pasta_mes_santacruz = '05 - Maio'
    pasta_mes_rge = '05 - Maio'
    print(pasta_mes)
elif pasta_mes == '06':
    mes = '06'
    pasta_mes = '06 - Junho\*'
    pasta_mes_paulista = '06 - Junho'
    pasta_mes_piratininga = '06 - Junho'
    pasta_mes_santacruz = '06 - Junho'
    pasta_mes_rge = '06 - Junho'
    print(pasta_mes)
elif pasta_mes == '07':
    mes = '07'
    pasta_mes = '07 - Julho\*'
    pasta_mes_paulista = '07 - Julho'
    pasta_mes_piratininga = '07 - Julho'
    pasta_mes_santacruz = '07 - Julho'
    pasta_mes_rge = '07 - Julho'
    print(pasta_mes)
elif pasta_mes == '08':
    mes = '08'
    pasta_mes = '08 - Agosto\*'
    pasta_mes_paulista = '08 - Agosto'
    pasta_mes_piratininga = '08 - Agosto'
    pasta_mes_santacruz = '08 - Agosto'
    pasta_mes_rge = '08 - Agosto'
    print(pasta_mes)
elif pasta_mes == '09':
    mes = '09'
    pasta_mes = '09 - Setembro\*'
    pasta_mes_paulista = '09 - Setembro'
    pasta_mes_piratininga = '09 - Setembro'
    pasta_mes_santacruz = '09 - Setembro'
    pasta_mes_rge = '09 - Setembro'
    print(pasta_mes)
elif pasta_mes == '10':
    mes = '10'
    pasta_mes = '10 - Outubro\*'
    pasta_mes_paulista = '10 - Outubro'
    pasta_mes_piratininga = '10 - Outubro'
    pasta_mes_santacruz = '10 - Outubro'
    pasta_mes_rge = '10 - Outubro'
    print(pasta_mes)
elif pasta_mes == '11':
    mes = '11'
    pasta_mes = '11 - Novembro\*'
    pasta_mes_paulista = '11 - Novembro'
    pasta_mes_piratininga = '11 - Novembro'
    pasta_mes_santacruz = '11 - Novembro'
    pasta_mes_rge = '11 - Novembro'
    print(pasta_mes)
elif pasta_mes == '12':
    mes = '12'
    pasta_mes = '12 - Dezembro\*'
    pasta_mes_paulista = '12 - Dezembro'
    pasta_mes_piratininga = '12 - Dezembro'
    pasta_mes_santacruz = '12 - Dezembro'
    pasta_mes_rge = '12 - Dezembro'
    print(pasta_mes)
else:
    print('Mês Inválido')
    
#Pasta onde está os arquivos    
diretorio = os.path.join(pasta,pasta_mes)
arquivos = glob.glob(diretorio)

#Define o diretorio onde será salvo os arquivos consolidados
pasta_paulista = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\2 - Arquivos Consolidados'
pasta_piratininga = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\2 - Arquivos Consolidados'
pasta_santacruz = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\2 - Arquivos Consolidados'
pasta_rge = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\2 - Arquivos Consolidados'
pasta_paulista_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\1 - Paulista\\2023\\{pasta_mes_paulista}\\1 - Status'
pasta_piratininga_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\2 - Piratininga\\2023\\{pasta_mes_piratininga}\\1 - Status'
pasta_santacruz_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\3 - Santa Cruz\\2023\\{pasta_mes_santacruz}\\1 - Status'
pasta_rge_status = f'C:\\Users\\2018459\\CPFL Energia S A\\INDIGER - INDGER\\RRR\\02 - Dados\\4 - RGE\\2023\\{pasta_mes_rge}\\1 - Status'

Insira o mês (dois dígitos):10
Insira o ano (4 dígitos):2023
10 - Outubro\*

In [3]:
#Colunas
colunas_tecld = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011','TECLD_012','TECLD_013','TECLD_014']
colunas_campos = ['TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011','TECLD_012','TECLD_013','TECLD_014']
colunas_chaves = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005']
colunas_integer = ['TECLD_002','TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011','TECLD_012','TECLD_013']
colunas_float = ['TECLD_014']
colunas_string = ['TECLD_005']
colunas_mes = ['TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011','TECLD_012','TECLD_013']
colunas_djtv = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_012','TECLD_013']
colunas_dpt = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_012','TECLD_013']
colunas_drt = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011','TECLD_012','TECLD_013']
colunas_regm = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_006','TECLD_007','TECLD_008','TECLD_009','TECLD_010','TECLD_011']
colunas_ropt = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_014']
colunas_ros = ['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005','TECLD_014']
listas_arquivos = ['TECLD_DJTV_HelesPires','TECLD_DPT_FabioRochaCavalcante','TECLD_DRT_DiegoPereiraSoares','TECLD_REGM_PedroAntonioPereira','TECLD_ROPT_PaulaMitiko','TECLD_ROS_CristianoGattermann']

#Layout com todas as colunas
layout_tecld_colunas = pd.DataFrame(data = [],columns = colunas_tecld)

#Tabela TECAL
tabela_tecld = []

#Duplicadas
df_duplicadas = pd.DataFrame(data = [],columns = colunas_tecld)

#Total de arquivos esperados na pasta
arquivos_total = 6

#Quantidade de arquivos submetidos
arquivos_submetidos = len(arquivos)

#Arquivos faltantes
print('Arquivos faltantes:',(arquivos_total-arquivos_submetidos))

#Flag para mostrar os arquivos faltantes
flag_faltantes = []

#Leitura dos arquivos
for arquivo in arquivos:
    try:
        #Lê o arquivo na pasta
        df_tecld = pd.read_excel(arquivo,sheet_name='TEC_LD', decimal=',')
        
        #Define o mês e o ano
        linhas_df_tecld = range(len(df_tecld.index))
        df_tecld['TECLD_003'] = df_tecld['TECLD_003'].astype('str')
        for linha in linhas_df_tecld:
            df_tecld.loc[linha,'TECLD_003'] = df_tecld.loc[linha,'TECLD_003'].zfill(2)
        df_tecld['TECLD_004'] = ano
        
        #Valida se foi enviado algum mês fora do mês de referência
        flag_mes = 0
        for linha in linhas_df_tecld:
            if df_tecld.loc[linha,'TECLD_003'] != mes:
                flag_mes = 1
        if flag_mes != 0:
            print('MÊS INCORRETO!!!', arquivo)
            
        #Valida se foi enviado algum código da distribuidora incorreto
        flag_distribuidora = 0
        for linha in linhas_df_tecld:
            if df_tecld.loc[linha,'TECLD_001'] not in [63,2937,69,396]:
                flag_distribuidora = 1
        if flag_distribuidora != 0:
            print('DISTRIBUIDORA INCORRETA!!!', arquivo)
        
        #Converte as chave para string
        for coluna in colunas_chaves:
            df_tecld[coluna] = df_tecld[coluna].astype('str')
        
        #Empilha todos os arquivos
        layout_tecld_colunas = layout_tecld_colunas.append(df_tecld,ignore_index=True)
        
        
        #Validação de colunas dos arquivos
        if 'TECLD_DJTV' in arquivo:
            df_tecld.columns == colunas_djtv
            print(arquivo)
            flag_faltantes.append('TECLD_DJTV_HelesPires')
        elif 'TECLD_DPT' in arquivo:
            df_tecld.columns == colunas_dpt
            print(arquivo)
            flag_faltantes.append('TECLD_DPT_FabioRochaCavalcante')
        elif 'TECLD_DRT' in arquivo:
            df_tecld.columns == colunas_drt
            print(arquivo)
            flag_faltantes.append('TECLD_DRT_DiegoPereiraSoares')
        elif 'TECLD_REGM' in arquivo:
            df_tecld.columns == colunas_regm
            print(arquivo)
            flag_faltantes.append('TECLD_REGM_PedroAntonioPereira')
        elif 'TECLD_ROPT' in arquivo:
            df_tecld.columns == colunas_ropt
            print(arquivo)
            flag_faltantes.append('TECLD_ROPT_PaulaMitiko')
        elif 'TECLD_ROS' in arquivo:
            df_tecld.columns == colunas_ros
            print(arquivo)
            flag_faltantes.append('TECLD_ROS_CristianoGattermann')
        else:
            print('Arquivo com colunas divergentes',arquivo)
            
        #Empilha as chaves primárias duplicadas
        if df_tecld.duplicated(subset=['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005']).any() == False:
            pass
        else:
            duplicadas = df_tecld[df_tecld.duplicated(subset=['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005'],keep=False)]
            df_duplicadas = df_duplicadas.append(duplicadas,ignore_index=True)
            
        
    except Exception as err:
        print('Arquivo com erro:',err)
        
#Exclui as linhas duplicadas
df_duplicadas = df_duplicadas.drop_duplicates(ignore_index=True)

#Compara se há chaves primárias duplicadas
if df_duplicadas.duplicated(subset=['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005']).any() == False:
    print('Não há chaves duplicadas')
else:
    print('Há chaves duplicadas')
    #Mostra as chaves duplicadas
    df_duplicadas = df_duplicadas[df_duplicadas.duplicated(subset=['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005'],keep=False)]
    df_duplicadas.to_excel(r'C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\RRR\02 - Dados\Erros Duplicadas\duplicadas_tecld.xlsx')
    display(df_duplicadas)
    
    
#Reporta os arquivos faltantes
for lista_arquivos in listas_arquivos:
    if lista_arquivos not in flag_faltantes:
        print(f'Arquivo faltante: {lista_arquivos}')

Arquivos faltantes: 0
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_DJTV_HelesPires_10_2023.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_DPT_MarcioRogerioLopesJunior_10_2023.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_DRT_DiegoPereiraSoares.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_REGM_PedroAntonioPereira.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_ROPT_PaulaMitiko.xlsx
C:\Users\2018459\CPFL Energia S A\INDIGER - INDGER\INDGER 2.0\TEC_LD\2023\10 - Outubro\TECLD_ROS_CristianoGattermann.xlsx
Não há chaves duplicadas

In [4]:
#Dropa as linhas duplicadas
layout_tecld_colunas = layout_tecld_colunas.drop_duplicates(ignore_index=True)

#Empilha os dataframe
tabela_tecld = layout_tecld_colunas.groupby(['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005'],as_index=False).max()
print('Dados empilhados')

Dados empilhados

In [5]:
#Define o mês e o ano
linhas = range(len(tabela_tecld.index))
tabela_tecld['TECLD_003'] = tabela_tecld['TECLD_003'].astype('str')
for linha in linhas:
    tabela_tecld.loc[linha,'TECLD_003'] = tabela_tecld.loc[linha,'TECLD_003'].zfill(2)
tabela_tecld['TECLD_004'] = ano

In [6]:
#Determina o intervalo de linhas do dataframe
linhas = range(len(tabela_tecld.index))

In [7]:
display(tabela_tecld)

,TECLD_001,TECLD_002,TECLD_003,TECLD_004,TECLD_005,TECLD_006,TECLD_007,TECLD_008,TECLD_009,TECLD_010,TECLD_011,TECLD_012,TECLD_013,TECLD_014
0,2937,13480,10,2023,423,11.0,2018.0,11.0,2021.0,11.0,2018.0,NaN,NaN,NaN
1,2937,13480,10,2023,424,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2022.0,66.727274
2,2937,13480,10,2023,427,11.0,2018.0,11.0,2021.0,11.0,2018.0,NaN,NaN,NaN
3,2937,13480,10,2023,428,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2020.0,19.693181
4,2937,13482,10,2023,407-RM09,6.0,2021.0,6.0,2022.0,6.0,2021.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143,69,2922,10,2023,502,4.0,2022.0,4.0,2022.0,4.0,2022.0,9.0,2016.0,8.883484
1144,69,2922,10,2023,503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.000000
1145,69,2922,10,2023,504,4.0,2022.0,4.0,2022.0,4.0,2022.0,NaN,NaN,79.062500
1146,69,2922,10,2023,511,4.0,2022.0,4.0,2022.0,4.0,2022.0,NaN,NaN,89.687500
1147,69,964,10,2023,503,4.0,2022.0,4.0,2022.0,4.0,2022.0,NaN,NaN,NaN

In [8]:
#Verifica se há chaves nulas
tabela_tecld = tabela_tecld.replace('nan',np.nan)

for coluna in colunas_chaves:
    if tabela_tecld[coluna].isnull().any() == True:
        print('Existe Chave Primária Nula: ',coluna)

In [9]:
#Define o mês e o ano das Chaves Primárias
chaves_paulista['TECLD_003'] = int(mes)
chaves_piratininga['TECLD_003'] = int(mes)
chaves_santacruz['TECLD_003'] = int(mes)
chaves_rge['TECLD_003'] = int(mes)
chaves_paulista['TECLD_004'] = int(ano)
chaves_piratininga['TECLD_004'] = int(ano)
chaves_santacruz['TECLD_004'] = int(ano)
chaves_rge['TECLD_004'] = int(ano)

#Seleciona somente as colunas das chaves primárias
chaves_paulista = chaves_paulista[['TECLD_001','TECLD_002','TECLD_003','TECLD_004']]
chaves_piratininga = chaves_piratininga[['TECLD_001','TECLD_002','TECLD_003','TECLD_004']]
chaves_santacruz = chaves_santacruz[['TECLD_001','TECLD_002','TECLD_003','TECLD_004']]
chaves_rge = chaves_rge[['TECLD_001','TECLD_002','TECLD_003','TECLD_004']]

# Validação de Dados

In [10]:
# Validação de número negativo
try:
    for coluna in colunas_campos:
        if tabela_tecld[coluna].min() < 0:
            print('Temos dados negativos:',coluna)
        
except:
    print('Erro na coluna:',coluna)

In [11]:
#Define as linhas do dataframe
linhas_tecld = range(len(tabela_tecld.index))

#Validação do percentual de carregamento
for linha_tecld in linhas_tecld:
    if tabela_tecld.loc[linha_tecld,'TECLD_014'] > 100:
        print('Valor inválido',tabela_tecld.loc[linha_tecld,'TECLD_014'])

Valor inválido 107.27313432835821
Valor inválido 107.32291666666667
Valor inválido 120.06296296296297
Valor inválido 120.06296296296297
Valor inválido 133.75238095238095
Valor inválido 133.75238095238095
Valor inválido 129.98666666666668
Valor inválido 129.98666666666668
Valor inválido 100.41041666666668
Valor inválido 112.95975609756097
Valor inválido 109.40833333333333
Valor inválido 101.78387096774193
Valor inválido 131.58999999999997

In [12]:
#Validação do código da LD
tabela_tecld['TECLD_005'] = tabela_tecld['TECLD_005'].astype('str')
for linha in linhas:
    if (len(tabela_tecld.loc[linha,'TECLD_005']) < 3) or (len(tabela_tecld.loc[linha,'TECLD_005'].split('-')[0]) < 3):
        tabela_tecld.loc[linha,'TECLD_005'] = tabela_tecld.loc[linha,'TECLD_005'].zfill(3)

In [13]:
#Empilha os dataframe
tabela_tecld = tabela_tecld.groupby(['TECLD_001','TECLD_002','TECLD_003','TECLD_004','TECLD_005'],as_index=False).max()
print('Dados empilhados')

Dados empilhados

In [14]:
#Separa a tabela por distribuidora para verificar se há colunas nulas
df_tecld_paulista = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '63']
df_tecld_piratininga = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '2937']
df_tecld_santacruz = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '69']
df_tecld_rge = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '396']

In [15]:
# PAULISTA 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_paulista=[]
for coluna in df_tecld_paulista.columns:
    if df_tecld_paulista[coluna].isnull().all():
        indicadores_nao_recebidos_paulista.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecld, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_paulista))

status_recebimento_tecld_paulista = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecld_paulista.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecld_paulista = status_recebimento_tecld_paulista.reindex(columns = ['Indicador','Status'])
status_recebimento_tecld_paulista.insert(loc=2,column='Distribuidora',value='Paulista')
status_recebimento_tecld_paulista.to_excel(os.path.join(pasta_paulista_status,'status_recebimento_tecld_paulista.xlsx'))
status_recebimento_tecld_paulista

    Indicador  Status Distribuidora
0   TECLD_001    True      Paulista
1   TECLD_002    True      Paulista
2   TECLD_003    True      Paulista
3   TECLD_004    True      Paulista
4   TECLD_005    True      Paulista
5   TECLD_006    True      Paulista
6   TECLD_007    True      Paulista
7   TECLD_008    True      Paulista
8   TECLD_009    True      Paulista
9   TECLD_010    True      Paulista
10  TECLD_011    True      Paulista
11  TECLD_012    True      Paulista
12  TECLD_013    True      Paulista
13  TECLD_014    True      Paulista

In [16]:
# Piratininga 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_piratininga=[]
for coluna in df_tecld_piratininga.columns:
    if df_tecld_piratininga[coluna].isnull().all():
        indicadores_nao_recebidos_piratininga.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecld, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_piratininga))

status_recebimento_tecld_piratininga = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecld_piratininga.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecld_piratininga = status_recebimento_tecld_piratininga.reindex(columns = ['Indicador','Status'])
status_recebimento_tecld_piratininga.insert(loc=2,column='Distribuidora',value='Piratininga')
status_recebimento_tecld_piratininga.to_excel(os.path.join(pasta_piratininga_status,'status_recebimento_tecld_piratininga.xlsx'))
status_recebimento_tecld_piratininga

    Indicador  Status Distribuidora
0   TECLD_001    True   Piratininga
1   TECLD_002    True   Piratininga
2   TECLD_003    True   Piratininga
3   TECLD_004    True   Piratininga
4   TECLD_005    True   Piratininga
5   TECLD_006    True   Piratininga
6   TECLD_007    True   Piratininga
7   TECLD_008    True   Piratininga
8   TECLD_009    True   Piratininga
9   TECLD_010    True   Piratininga
10  TECLD_011    True   Piratininga
11  TECLD_012    True   Piratininga
12  TECLD_013    True   Piratininga
13  TECLD_014    True   Piratininga

In [17]:
# Santa Cruz 
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_santacruz=[]
for coluna in df_tecld_santacruz.columns:
    if df_tecld_santacruz[coluna].isnull().all():
        indicadores_nao_recebidos_santacruz.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecld, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_santacruz))

status_recebimento_tecld_santacruz = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecld_santacruz.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecld_santacruz = status_recebimento_tecld_santacruz.reindex(columns = ['Indicador','Status'])
status_recebimento_tecld_santacruz.insert(loc=2,column='Distribuidora',value='Santa Cruz')
status_recebimento_tecld_santacruz.to_excel(os.path.join(pasta_santacruz_status,'status_recebimento_tecld_santacruz.xlsx'))
status_recebimento_tecld_santacruz

    Indicador  Status Distribuidora
0   TECLD_001    True    Santa Cruz
1   TECLD_002    True    Santa Cruz
2   TECLD_003    True    Santa Cruz
3   TECLD_004    True    Santa Cruz
4   TECLD_005    True    Santa Cruz
5   TECLD_006    True    Santa Cruz
6   TECLD_007    True    Santa Cruz
7   TECLD_008    True    Santa Cruz
8   TECLD_009    True    Santa Cruz
9   TECLD_010    True    Santa Cruz
10  TECLD_011    True    Santa Cruz
11  TECLD_012    True    Santa Cruz
12  TECLD_013    True    Santa Cruz
13  TECLD_014    True    Santa Cruz

In [18]:
# RGE
# Filtra todas as colunas que não foram recebidas
indicadores_nao_recebidos_rge=[]
for coluna in df_tecld_rge.columns:
    if df_tecld_rge[coluna].isnull().all():
        indicadores_nao_recebidos_rge.append(coluna)

# Mostra todos os indicadores que não foram recebidos        
colunas = pd.DataFrame(colunas_tecld, columns = ['NOME_COLUNAS'])
recebimento = (~colunas.isin(indicadores_nao_recebidos_rge))

status_recebimento_tecld_rge = pd.merge(recebimento, colunas, left_index = True, right_index = True)

status_recebimento_tecld_rge.rename(columns = {'NOME_COLUNAS_x':'Status', 'NOME_COLUNAS_y':'Indicador'},inplace = True)
status_recebimento_tecld_rge = status_recebimento_tecld_rge.reindex(columns = ['Indicador','Status'])
status_recebimento_tecld_rge.insert(loc=2,column='Distribuidora',value='RGE')
status_recebimento_tecld_rge.to_excel(os.path.join(pasta_rge_status,'status_recebimento_tecld_rge.xlsx'))
status_recebimento_tecld_rge

    Indicador  Status Distribuidora
0   TECLD_001    True           RGE
1   TECLD_002    True           RGE
2   TECLD_003    True           RGE
3   TECLD_004    True           RGE
4   TECLD_005    True           RGE
5   TECLD_006    True           RGE
6   TECLD_007    True           RGE
7   TECLD_008    True           RGE
8   TECLD_009    True           RGE
9   TECLD_010    True           RGE
10  TECLD_011    True           RGE
11  TECLD_012    True           RGE
12  TECLD_013    True           RGE
13  TECLD_014    True           RGE

In [19]:
#Separa a tabela por distribuidora para cruzar com as chaves primárias
df_tecld_paulista = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '63']
df_tecld_piratininga = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '2937']
df_tecld_santacruz = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '69']
df_tecld_rge = tabela_tecld.loc[tabela_tecld['TECLD_001'] == '396']

In [20]:
#Define os dataframe
df_tecld_paulista_join = df_tecld_paulista
df_tecld_piratininga_join = df_tecld_piratininga 
df_tecld_santacruz_join = df_tecld_santacruz
df_tecld_rge_join = df_tecld_rge

# Tratamento, Limpeza e Conversão

In [21]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Paulista
#Conversão do Código da distribuidora para o CNPJ
df_tecld_paulista_join['TECLD_001'] = df_tecld_paulista_join['TECLD_001'].replace('63','33050196000188')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecld_paulista_join[coluna_integer] = df_tecld_paulista_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecld_paulista_join[coluna_float] = df_tecld_paulista_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecld_paulista_join[coluna_string] = df_tecld_paulista_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECLD_002
Colunas integer convertidas:  TECLD_006
Colunas integer convertidas:  TECLD_007
Colunas integer convertidas:  TECLD_008
Colunas integer convertidas:  TECLD_009
Colunas integer convertidas:  TECLD_010
Colunas integer convertidas:  TECLD_011
Colunas integer convertidas:  TECLD_012
Colunas integer convertidas:  TECLD_013
Colunas float convertidas:  TECLD_014
Colunas string convertidas:  TECLD_005

In [22]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Piratininga
#Conversão do Código da distribuidora para o CNPJ
df_tecld_piratininga_join['TECLD_001'] = df_tecld_piratininga_join['TECLD_001'].replace('2937','04172213000151')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecld_piratininga_join[coluna_integer] = df_tecld_piratininga_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecld_piratininga_join[coluna_float] = df_tecld_piratininga_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecld_piratininga_join[coluna_string] = df_tecld_piratininga_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECLD_002
Colunas integer convertidas:  TECLD_006
Colunas integer convertidas:  TECLD_007
Colunas integer convertidas:  TECLD_008
Colunas integer convertidas:  TECLD_009
Colunas integer convertidas:  TECLD_010
Colunas integer convertidas:  TECLD_011
Colunas integer convertidas:  TECLD_012
Colunas integer convertidas:  TECLD_013
Colunas float convertidas:  TECLD_014
Colunas string convertidas:  TECLD_005

In [23]:
#Tratamento, Limpeza e Conversão do tipo do dado
#Santa Cruz
#Conversão do Código da distribuidora para o CNPJ
df_tecld_santacruz_join['TECLD_001'] = df_tecld_santacruz_join['TECLD_001'].replace('69','53859112000169')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecld_santacruz_join[coluna_integer] = df_tecld_santacruz_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecld_santacruz_join[coluna_float] = df_tecld_santacruz_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecld_santacruz_join[coluna_string] = df_tecld_santacruz_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECLD_002
Colunas integer convertidas:  TECLD_006
Colunas integer convertidas:  TECLD_007
Colunas integer convertidas:  TECLD_008
Colunas integer convertidas:  TECLD_009
Colunas integer convertidas:  TECLD_010
Colunas integer convertidas:  TECLD_011
Colunas integer convertidas:  TECLD_012
Colunas integer convertidas:  TECLD_013
Colunas float convertidas:  TECLD_014
Colunas string convertidas:  TECLD_005

In [24]:
#Tratamento, Limpeza e Conversão do tipo do dado
#RGE
#Conversão do Código da distribuidora para o CNPJ
df_tecld_rge_join['TECLD_001'] = df_tecld_rge_join['TECLD_001'].replace('396','02016440000162')

#Tratamento, Limpeza e Conversão dos dados
for coluna_integer in colunas_integer:
    try:
        df_tecld_rge_join[coluna_integer] = df_tecld_rge_join[coluna_integer].replace(np.nan,0).astype('Int64')
        print('Colunas integer convertidas: ',coluna_integer)
    except:
        print('Não foi possível converter a coluna integer: ',coluna_integer)
        
for coluna_float in colunas_float:
    try:
        df_tecld_rge_join[coluna_float] = df_tecld_rge_join[coluna_float].astype('float')
        print('Colunas float convertidas: ',coluna_float)
    except:
        print('Não foi possível converter a coluna float: ',coluna_float)
        
for coluna_string in colunas_string:
    try:
        df_tecld_rge_join[coluna_string] = df_tecld_rge_join[coluna_string].astype('str')
        print('Colunas string convertidas: ',coluna_string)
    except:
        print('Não foi possível converter a coluna string: ',coluna_string)

Colunas integer convertidas:  TECLD_002
Colunas integer convertidas:  TECLD_006
Colunas integer convertidas:  TECLD_007
Colunas integer convertidas:  TECLD_008
Colunas integer convertidas:  TECLD_009
Colunas integer convertidas:  TECLD_010
Colunas integer convertidas:  TECLD_011
Colunas integer convertidas:  TECLD_012
Colunas integer convertidas:  TECLD_013
Colunas float convertidas:  TECLD_014
Colunas string convertidas:  TECLD_005

In [25]:
for coluna in colunas_mes:
    df_tecld_paulista_join[coluna] = df_tecld_paulista_join[coluna].replace(0,np.nan)
    df_tecld_piratininga_join[coluna] = df_tecld_piratininga_join[coluna].replace(0,np.nan)
    df_tecld_santacruz_join[coluna] = df_tecld_santacruz_join[coluna].replace(0,np.nan)
    df_tecld_rge_join[coluna] = df_tecld_rge_join[coluna].replace(0,np.nan)

# Validação por Conjunto

In [26]:
#Validação de Municipio
#Paulista
#Define os municipios
municipios_paulista = chaves_paulista[['TECLD_002']].astype('int')
municipios_tecld_paulista = df_tecld_paulista[['TECLD_002']]

#Dropa os municipios repetidos
municipios_tecld_paulista = municipios_tecld_paulista.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_paulista_join = municipios_paulista.merge(municipios_tecld_paulista,indicator=True,on='TECLD_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_paulista_join[municipios_paulista_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [TECLD_002, _merge]
Index: []

In [27]:
#Validação de Municipio
#Piratininga
#Define os municipios
municipios_piratininga = chaves_piratininga[['TECLD_002']].astype('int')
municipios_tecld_piratininga = df_tecld_piratininga[['TECLD_002']]

#Dropa os municipios repetidos
municipios_tecld_piratininga = municipios_tecld_piratininga.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_piratininga_join = municipios_piratininga.merge(municipios_tecld_piratininga,indicator=True,on='TECLD_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_piratininga_join[municipios_piratininga_join['_merge'] == 'right_only']

    TECLD_002      _merge
42      13814  right_only

In [28]:
#Validação de Municipio
#Santa Cruz
#Define os municipios
municipios_santacruz = chaves_santacruz[['TECLD_002']].astype('int')
municipios_tecld_santacruz = df_tecld_santacruz[['TECLD_002']]

#Dropa os municipios repetidos
municipios_tecld_santacruz = municipios_tecld_santacruz.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_santacruz_join = municipios_santacruz.merge(municipios_tecld_santacruz,indicator=True,on='TECLD_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_santacruz_join[municipios_santacruz_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [TECLD_002, _merge]
Index: []

In [29]:
#Validação de Municipio
#RGE
#Define os municipios
municipios_rge = chaves_rge[['TECLD_002']].astype('int')
municipios_tecld_rge = df_tecld_rge[['TECLD_002']]

#Dropa os municipios repetidos
municipios_tecld_rge = municipios_tecld_rge.drop_duplicates(ignore_index=True)

#Cruza os municipios existentes com os municipios do arquivo
municipios_rge_join = municipios_rge.merge(municipios_tecld_rge,indicator=True,on='TECLD_002',how='outer')

#Filtramos somente os municipios divergentes recebidos das áreas
municipios_rge_join[municipios_rge_join['_merge'] == 'right_only']

Empty DataFrame
Columns: [TECLD_002, _merge]
Index: []

# Exportação dos Dados

In [30]:
#Paulista
arquivo = 'TEC_LD.csv'
df_tecld_paulista_join.to_csv(os.path.join(pasta_paulista,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [31]:
#Piratininga
arquivo = 'TEC_LD.csv'
df_tecld_piratininga_join.to_csv(os.path.join(pasta_piratininga,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [32]:
#Santa Cruz
arquivo = 'TEC_LD.csv'
df_tecld_santacruz_join.to_csv(os.path.join(pasta_santacruz,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')

In [33]:
#RGE
arquivo = 'TEC_LD.csv'
df_tecld_rge_join.to_csv(os.path.join(pasta_rge,arquivo), sep=';',index=False, float_format = '%.4f', decimal=',')